#header{
	background: #A15EFF;
}

#header img{
	height: 50%;
	width: 50%;
	position: relative;
	left: 25%;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 30%;
      margin: auto;
}

.carousel {
	background: #E1D9FF;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}